* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

.header-content p {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    font-family: 'Verdana, sans-serif';
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
    color: white;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}


.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/*--------features--------*/

.features {
    padding: 50px 12%;
    font-size: 22px;
    border-top: 6px solid #333;
    background-color: black;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.text-col h2 {
    color: white;
}

.text-col p {
    color: white;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}




/*--------faq--------*/
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    border-top: 6px solid #333;
    background-color: black;
}

.faq h2 {
    font-weight: 600;
    font-size: 40px;
    color: white;
    margin-top: 3%;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid black;
    color: #333;
}

.accordion li lable {
    display: flex;
    align-items: left;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    /* background-color: #303030; */
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.accordion li:hover {
    background-color: rgba(248, 16, 16, 0.885);
    color: white;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    /* background: #333; */
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.content {
    background-color: rgb(219, 188, 188);

}

.content p {

    color: #000;
}

.faq .email-signup {
    max-width: 300;
    margin: 17px 150px 15px;
}

.faq small {
    font-size: 15px;
}

small {
    color: white;
}





/*---------footer---------*/
.footer {
    background-color: #000;
    color: #777;
    padding: 50px 15%;
    border-top: 6px solid #333;
}

.footer h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.newlist a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.newlist a:hover {
    color: #b3b3b3;
}


.footer .language-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 2%;
    color: red;
}



.sel {
    font-size: 19px;
    font-family: 'Verdana', sans-serif;
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.sel option {
    font-family: 'Verdana', sans-serif;
    border-radius: 3px;
}

.signbut {
    font-size: 17px;
}




/* movies css */
.movies-section,
.search-section {
    padding: 50px 8%;
    border-top: 6px solid #333;
    margin-bottom: 0%;
    margin-bottom: 0%;
    background-color: black;
}



.movies-section h2,
.search-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: -2%;
    color: white;
}


.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5%;
}

.movie {
    width: 200px;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie h3 {
    font-size: 16px;
    padding: 10px;
    color: white;

}

.movie:hover {
    transform: scale(1.05);
}


#prevBtn {
    background-color: red;
}

#nextBtn {
    background-color: red;
}

#movieContainer {
    align-items: normal !important;
    margin: auto !important;
}

#searchResults {
    align-items: normal !important;
    margin: auto !important;
}


#searchForm {
    margin-top: 3%;
}

#searchForm input {
    padding: 1% 1%;
    font-size: 20px;
    width: 90%;
    border-radius: 8px;

}

#searchForm button {
    background-color: red;
    color: #fff;
    font-size: 20.5px;
    padding: 1%;
    border-radius: 7px;
    margin-left: -39px;
}


.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.nav-buttons button {
    background-color: #db0001;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #b30000;
}

.moviTitle {
    cursor: pointer;
}